@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    local('OpenSans'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/Gilroylight.woff2') format('woff2'),
    url('../fonts/Gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/Gilroyextrabold.woff2') format('woff2'),
    url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;

  background-color: #ffffff;
}

input,
textarea {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
}

a{
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
}

.button,
.main-nav,
.header-nav {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0 36px 0 45px;

  line-height: 46px;

  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.button::before {
  content: "";

  position: absolute;
  top: calc(50% - 4px);
  left: 0;

  width: 100%;
  height: 8px;

  background: #f0c52e;
  z-index: -1;
}

.button:hover::before {
  top: 0;
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: transparent;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
}

.logo[href]:hover {
  opacity: 0.6;
}

.logo[href]:active {
  opacity: 0.3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ШАПКА САЙТА */

.page-header {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 40px;

  color: inherit;

  background-color: rgba(247,226,150,1);
  background-clip: content-box;
}

.row {
  display: flex;
  margin-bottom: 30px;
  padding: 0 60px;
}

.row:first-of-type {
  margin-top: 34px;
}

.row:last-child {
  margin-bottom: 50px;
}

.logo.header-logo {
  position: absolute;

  display: block;
  top: -22px;
  left: 78px;
  color: #000000;
  letter-spacing: 0.45px;
}

.page-header a {
  color: inherit;
}

.page-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
}

.page-header .user-block {
  margin-left: auto;
  margin-right: 10px;
}

.user-login > a,
.user-profile > a {
  padding-left: 31px;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
  letter-spacing: .38px;
}

.user-logout {
  display: inline-block;
  padding-left: 17px;

  vertical-align: top;
  color: rgba(0, 0, 0, 0.3);
}

.user-logout:hover {
  color: #000000;
}

.shop-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.shop-compare > a {
  padding-left: 28px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: left 7px center;
}

.shop-basket > a {
  padding-left: 28px;

  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.main-nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}

.header-nav > li {
  display: block;
  padding: 0 20px;

  text-transform: uppercase;
  letter-spacing: 3.5px
}

.header-nav > li:first-child {
  position: relative;

  flex: 0 0 50%;
  padding: 0;
}

.header-nav > li:nth-child(3) {
  flex-grow: 1;
}

.header-nav > li:nth-child(4n+4) {
  padding-right: 0;
}

.catalog-link + .catalog-nav {
  position: absolute;
  top: 25px;
  left: -60px;
  z-index: 5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 1160px;
  padding-bottom: 34px;
  align-content: flex-start;
  min-height: 120px;
  color: #000000;
  letter-spacing: normal;
  background-color: rgba(247,226,150,1);
  visibility: hidden;
}

.catalog-group ul {
  width: 200px;
  padding-left: 40px;
}

.catalog-group li {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
}

.catalog-group:nth-child(5n+1) ul {
  width: 260px;
  padding-left: 60px;
}

.catalog-link {
  position: relative;

  padding-right: 30px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-link:hover + .catalog-nav,
.catalog-nav:hover {
  visibility: visible;
}

.logo:hover,
.logo:focus,
.htmlacademy-button:hover,
.htmlacademy-button:focus,
.user-block a:hover,
.user-block a:focus,
.shop-block a:hover,
.shop-block a:focus,
.header-nav a:hover,
.header-nav a:focus,
.footer-nav-list a:hover,
.footer-nav-list a:focus {
  opacity: 0.6;
}

.logo:active,
.htmlacademy-button:active,
.user-block a:active,
.shop-block a:active,
.header-nav a:active,
.footer-nav-list a:active {
  opacity: 0.3;
}

.search-item {
  display: flex;
  flex: 0 0 auto;
  height: 48px;
}

.search-item input {
  width: 355px;
  padding: 10px 20px 8px 39px;
  color: #000000;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 3px bottom 13px;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-item input::placeholder {
  letter-spacing: 0.37px;
  color: rgba(0, 0, 0, 0.3);
}

.search-item input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-button {
  width: 85px;
  height: 48px;
  padding: 0;

  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  visibility: visible;
}

.search-item input:focus + .search-button {
  visibility: visible;
}

/* СЛАЙДЕР */

.home-slider {
  position: relative;
}

.home-slider::before {
  content: "";

  display: block;
  height: 113px;
  margin-bottom: -113px;

  background-color: rgba(247,226,150,1);
  background-clip: content-box;
}

.slides-list {
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
}

.slide-item {
  display: flex;
  flex: 0 0 100%;
  padding-bottom: 60px;
  margin-bottom: 25px;

  z-index: -1;
}

.slide-item:not(.slide-current) {
  display: none;
}

.slide-image {
  flex: 0 0 50%;
  padding: 2px 20px 0 0;
}

.slide-image img {
  display: block;
  max-width: 560px;
  max-height: 500px;
  margin: 0 auto;
}

.slide-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 50%;
  padding: 80px 60px 10px 20px;
}

.slide-content span {
  margin-bottom: 20px;

  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.6px;

  z-index: 2;
}

.slide-content span.slide-number {
  position: absolute;
  top: -12px;
  right: 46px;

  display: block;

  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;

  user-select: none;
  z-index: 1;
}

.slide-content::before {
  content: "";

  position: absolute;
  top: -2px;

  display: block;
  width: 100px;
  height: 7px;
  margin: 40px 0 34px 0;

  background-color: #ffffff;
}

.slide-content p {
  margin-top: 0;

  line-height: 30px;
  letter-spacing: 0.16px;
}

.slide-content .button {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 22px;
}

.slide-content table {
  display: flex;
  justify-content: flex-start;

  margin-top: auto;

  border-collapse: collapse;
  border-spacing: 0;
}

.slide-content table td {
  padding-right: 77px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-family: "Gilroy", Arial, sans-serif;
}

.slide-content table td:last-child {
  padding-right: 0;
}

.slide-content table th {
  padding: 6px 0 0 0;

  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: inherit;
}

/* ПОПУЛЯРНЫЕ КТЕГОРИИ */

.popular {
  margin-bottom: 40px;
  padding: 20px;
  padding-bottom: 40px;
}

.popular-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-item > a {
  display: flex;
  flex-direction: column-reverse;

  width: 160px;
}

.popular-item span {
  width: 160px;
  height: 160px;

  margin: 0 0 15px 0;
  text-align: center;
  line-height: 160px;

  background-color: #f7e296;
}

.popular-item span > img {
  vertical-align: middle;
}

.popular-item:nth-child(2) span > img {
  vertical-align: bottom;
}

.popular-item:hover span {
  background-color: #f0c52e;
}

.popular-item:nth-child(6n) {
  margin-right: 0;
}

.popular-item h3 {
  padding-top: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
}

.popular-item:active h3,
.popular-item:active img {
  opacity: 0.3;
}

/* УСЛУГИ */

.services {
  min-width: 1200px;
  margin-bottom: 95px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, #ffffff 0px, #ffffff 100px, #e5e5e5 100px);
}

.services-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start
}

.services-list,
.services-description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 284px;
  min-height: 320px;
  padding-top: 80px;
  padding-bottom: 40px;
  border-right: 7px solid #000000;

  z-index: 1;
}

.services-list li {
  margin-bottom: 25px;
}

.services-list .button {
  width: 160px;
  line-height: 40px;

  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.services-list .button::before {
  width: 160px;
}

.services-list .button:active,
.services-list .button.button-active {
  width: 100%;

  padding-right: 128px;
  color: #f7e184;
  background-color: #000000;
}

.services-description-item:not(.current) {
  display: none;
}

.services-description-item {
  position: relative;
  display: block;
  margin-left: 16px;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  width: 650px
}

.services-description-item h3 {
  margin-bottom: 30px;
  letter-spacing: 1.1px;
}

.services-description-item p  {
  margin: 0;
  line-height: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.25px;
}

.services-delivery::after {
  content: "";
  position: absolute;
  top: 87px;
  right: -143px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-warranty::after {
  content: "";
  position: absolute;
  top: 63px;
  right: -168px;
  width: 175px;
  height: 200px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-credit::after {
  content: "";
  position: absolute;
  top: 63px;
  right: -160px;
  width: 175px;
  height: 200px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* БРЭНДЫ */

.brands {
  margin-bottom: 85px;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  position: relative;
  cursor: pointer;
}

.brands-item img:last-child {
  position: absolute;
  top: 0px;
  visibility: hidden;
}

.brands-item:hover img:last-child {
  visibility: visible;
}

/* КОНТАКТЫ */

.two-column-wrapper {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
}

.about,
.contact {
  position: relative;
  padding-top: 53px;
  width: 560px;
}

.about > .button,
.contact > .button {
 width: 260px;
 padding: 0;
 text-align: center;
}

.about::before,
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  border-top: 7px solid #000000;
}

.about h2,
.contact h2 {
  position: relative;
  margin-bottom: 45px;

  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}

.about p,
.contact p {
  margin: 30px 0;
  line-height: 30px;
}

.about ul {
  margin: 66px 0 50px 2px;
  padding: 0;

  list-style: none;
}

.about ul > li {
  padding-left: 33px;

  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;

  background-image: url("../img/icon-list.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contact .map {
  margin-top: 8px;
  margin-bottom: 60px;
}

/* ПОДВАЛ САЙТА */

.user-block,
.shop-block,
.footer-nav-list,
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer {
  min-width: 1200;
  padding: 60px 0;
  overflow: hidden;

  color: #ffffff;

  background-color: #464646;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-row p {
  margin: 0;
  padding: 0;
}

.page-footer {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.page-footer a {
  color: inherit;
}

.logo.footer-logo {
  margin-right: auto;
  height: 48px;
  color: #ffc600;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  width: 465px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.21em;

  color: inherit;
  text-transform: uppercase;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  width: 195px;
}

.social-icons-item {
  position: relative;
  margin-right: 23px;

  width: 32px;
  height: 32px;

  font-size: 0;

  opacity: 0.3;
}

.social-icons-item:hover {
  opacity: 0.6;
}
.social-icons-item:active {
  opacity: 0.1;
}

.facebook::before,
.instagram::before,
.twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center center;
}

.facebook::before {
  background-image: url("../img/facebook.svg");
}

.instagram::before {
  background-image: url("../img/instagram.svg");
}

.twitter::before {
  background-image: url("../img/twitter.svg");
}

.page-footer .user-block,
.page-footer .shop-block {
  height: 34px;
}

.page-footer .user-login {
  margin-left: auto;
  margin-right: 35px;
}

.page-footer .user-block .user-login > a,
.page-footer .user-block .user-profile > a {
  background-image: url("../img/yellow-user.svg");
}

.page-footer .shop-block .shop-compare > a {
  background-image: url(../img/yellow-compare.svg);
}

.page-footer .shop-block .shop-basket > a {
  background-image: url(../img/yellow-cart.svg);
}

.htmlacademy-button {
  position: relative;
  width: 28px;
  height: 40px;
  font-size: 0;
}

.htmlacademy-button::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 0;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
  background-position: top center;
  width: 27px;
  height: 35px;
}

.dec-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.page-footer .footer-row:first-child {
  margin-bottom: 26px;
}

.page-footer .footer-row:nth-child(2) {
  margin-bottom: 55px;
}

.page-footer .footer-row:last-child {
  align-items: center;
}

/* КАТАЛОГ */

.page-title {
  padding: 0 80px;
}

.page-title > h2 {
  margin: 38px 0 23px 0;
  letter-spacing: .55px;
}

.breadcrumbs,
.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin-bottom: 47px;

  font-size: 14px;
  line-height: 24px;
  text-transform: none;
}

.breadcrumbs a {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:not(.breadcrumbs-current)::after {
  margin: 9px 18px 0 16px;
  content: "";
  float: right;
  background-image: url("../img/nav-arrow.svg");
  width: 4px;
  height: 7px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background: -webkit-linear-gradient(top, #dadada 70px, #ececec 70px);
  background:      -o-linear-gradient(top, #dadada 70px, #ececec 70px);
  background:         linear-gradient(to bottom, #dadada 70px, #ececec 70px);
}

.filter h3,
.sorting h3 {
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter h3 {
  margin: 23px 0;
  padding-left: 7px;

  border-bottom: 1px solid transparent;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}


.filter .filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 272px;
  margin-left: auto;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filter fieldset {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;

  border: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filter .prices {
  margin-top: 80px;
  margin-bottom: 30px;
}

.filter .colors {
  margin-top: 60px;
  margin-bottom: 26px;
}

.filter .bluetoothes {
  position: relative;

  margin-top: 42px;
}

.filter legend {
  position: relative;

  padding-left: 5px;

  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter .price-state {
  margin-bottom: 30px;
}

.filter .color-state {
  margin-bottom: 19px;
}

.bluetooth-state-item:nth-of-type(1) {
  margin-top: 18px;
}

.bluetooth-state-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.bluetooth-state-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 5px;

  width: 202px;
  height: 2px;

  background-color: #000000;
}

fieldset p {
  margin: 0;
  padding: 0;
}

.filter span {
  position: relative;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter input[type="range"]:disabled,
.filter input[type="checkbox"]:disabled,
.filter input[type="radio"]:disabled {
  color: #a6a6a6;
}


.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.filter input[type="range"] {
  position: relative;
}

.filter .price-state::after {
  content: "";
  position: absolute;
  top: 59px;
  left: 8px;
  z-index: 1;

  width: 195px;
  height: 2px;

  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #91c92f), color-stop(60%, #dbdbdb));
  background-image: -webkit-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
  background-image:      -o-linear-gradient(left, #91c92f 60%, #dbdbdb 60%);
  background-image:         linear-gradient(to right, #91c92f 60%, #dbdbdb 60%);
}

.price-1 {
  position: absolute;
  top: 17px;
  left: 4px;

  width: 35px;
  height: 25px;
}

.price-2 {
  position: absolute;
  top: 17px;
  left: 69px;

  width: 35px;
  height: 25px;
}

.filter .price-1::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -4px;
  z-index: 0;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.filter .price-1:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -4px;
  z-index: 0;

  width: 22px;
  height: 25px;

  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
}

.filter .price-2::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;

  width: 20px;
  height: 23px;

  background-image: url("../img/filter-button.svg");
  cursor: pointer;
}

.filter .price-2:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 17px;
  z-index: 2;

  width: 22px;
  height: 25px;

  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
}

.filter .btn-more {
  position: relative;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  margin-top: 31px;
  margin-left: 5px;
  padding: 8px 40px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: transparent;
  border: none;
  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.filter .btn-more::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.filter .btn-more:hover::after {
  top: 0;

  height: 40px;
  margin: 0;

  -webkit-transition: all 0.2s linear;
       -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
}

.filter .btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter label {
  position: relative;

  padding-left: 44px;

  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 27px;
  height: 24px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;

  width: 24px;
  height: 24px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.sorting {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-bottom: 70px;
  padding: 5px 0;

  background-color: #ebebeb;

  -webkit-box-align: center;
  -ms-flex-align: center;
}

.sorting h3 {
  margin: 18px 54px 18px 76px;
}

.sorting-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  margin: 0;
  padding: 0;
}

.sorting li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting a {
  display: block;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-items-price {
  margin-right: 28px;
}

.sorting-items-type {
  margin-right: 31px;
}

.sorting-type {
  margin-right: 260px;
}

.sorting-direction {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-direction li {
  position: relative;

  margin: 0;
  padding: 0;
}

.sorting-direction-items {
  position: relative;
}

.sorting-direction-items.up::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 30px;

  width: 11px;
  height: 11px;

  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-direction-items.down::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;

  width: 11px;
  height: 11px;

  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-items.down:hover::before,
.sorting-direction-items.down:focus::before,
.sorting-direction-items.up:hover::before,
.sorting-direction-items.up:focus::before {
  opacity: 0.4;
}

.sorting-direction-items.down:active::before,
.sorting-direction-items.up:active::before {
  opacity: 1;
}

.catalog-page {
  flex-grow: 1;
  width: 780px;
  margin-right: auto;

  background-color: #ffffff;

  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
}

.main-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 855px;
  margin-bottom: 37px;
  padding-left: 75px;

  -ms-flex-wrap: wrap;
}

.catalog-goods {
  position: relative;

  width: 360px;
  margin-right: auto;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-goods:nth-of-type(1),
.catalog-goods:nth-of-type(2) {
  margin-bottom: 47px;
}

.catalog-goods:nth-of-type(2n) {
  margin-right: 20px;
}

.catalog-goods a {
  color: inherit;
  text-decoration: none;
}

.catalog-goods p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
  padding: 0;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.catalog-item {
  width: 260px;
  margin: 0;
  padding: 0;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
}

.catalog-goods:nth-of-type(2) .catalog-item {
  width: 200px;
}

.catalog-goods:last-of-type::before {
  content: "NEW";
  position: absolute;
  top: 47px;
  right: 13px;

  width: 60px;
  height: 60px;

  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-goods:last-of-type::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 28px;

  width: 57px;
  height: 57px;

  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-goods b {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-goods .to-basket {
  content: "";
  position: absolute;
  top: 173px;
  left: 80px;
  z-index: 1;

  display: inline-block;
  width: 180px;
  padding: 8px 10px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  vertical-align: baseline;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
  opacity: 0;
}

.catalog-goods .to-basket:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

  height: 8px;
  margin: auto;

  background-color: #f0c52e;
}

.to-basket:focus,
.to-basket:hover {
  background-color: #f0c52e;
}

.to-compared {
  content: "";
  position: absolute;
  top: 220px;
  left: 110px;

  font-weight: normal;
  font-size: 13px;
  line-height: 36px;
  font-family: Arial, sans-serif;

  opacity: 0;
}

.catalog-goods:hover img {
  cursor: pointer;
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.catalog-goods:hover .to-basket,
.catalog-goods:focus .to-basket {
  opacity: 1;
}

.catalog-goods:hover .to-compared,
.catalog-goods:focus .to-compared {
  opacity: 0.5;
}

.catalog-goods .to-compared:hover {
  color: rgba(0, 0, 0, 1);

  opacity: 1;
}

.catalog-goods .to-basket:active,
.catalog-goods .to-compared:active {
  color: rgba(0, 0, 0, 0.2);

  opacity: 1;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-bottom: 77px;
  margin-left: 75px;
  padding: 0;

  background-color: #ebebeb;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.pagination-list li {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list li:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
}

.pagination-list a {
  display: block;

  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  cursor: pointer;
}

.pagination-item-back {
  padding: 22px 27px 22px 28px;
}

.pagination-item {
  padding: 22px 13px 22px 13px;
}

.pagination-item:nth-of-type(1) {
  margin-right: 4px;
  padding: 22px 9px 22px 18px;
}

.pagination-item:nth-of-type(2) {
  margin-right: 2px;
}

.pagination-item-next {
  padding: 22px 29px 22px 31px;
}

.pagination-item-back:hover,
.pagination-item-next:hover {
  background-color: #d9d9d9;
}

.pagination-item-back:active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

.pagination-item-back,
.pagination-item-next {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-disabled {
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
          clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.hidden {
  display: none;
}

.modal-feedback {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10;

  display: none;
  justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -480px;
  padding: 77px 100px 78px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 760px;

  -ms-flex-wrap: wrap;
}

.feedback-user-name,
.feedback-email,
.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
}

.feedback-user-name {
  margin-right: 40px;
  padding: 8px 0;
}

.feedback-email {
  padding: 8px 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  margin-bottom: 25px;
  padding: 14px 0;
  padding-left: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
  border: 0;
  opacity: 0.5;
}

.feedback-form input[type="text"] {
  margin-right: 40px;
}

.feedback-field,
textarea {
  width: 760px;
}

.feedback-field {
  padding: 11px 0;
  padding-left: 1px;
}

textarea {
  height: 130px;
  padding: 10px 0;
  padding-left: 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);

  background-color: #e5e5e5;
  opacity: 0.5;

  resize: none;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  background-color: #e5e5e5;
  opacity: 0.8;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
          box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
  /*  border: 3px solid rgba(240, 197, 46, 0.5);*/
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid,
.feedback-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.btn-modal-feedback {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 41px;
  padding: 8px 43px;

  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #ffffff;
  border: none;
  cursor: pointer;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.btn-modal-feedback::before {
  content: "Отправить";
  position: absolute;
  top: 8px;
  left: 33px;
  z-index: 15;

  color: #000000;
}

.btn-modal-feedback::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.btn-modal-feedback:hover::after {
  top: 0;

  height: 40px;
  margin: 0;
}

.btn-modal-feedback:active::before {
  color: rgba(0, 0, 0, 0.3);
}

button.modal-feedback-close {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 12;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}


button.modal-feedback-close:hover,
button.modal-feedback-close:focus {
  opacity: 1;
}

button.modal-feedback-close:active {
  opacity: 0.3;
}

button.modal-feedback-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

button.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback-form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-map {
  position: absolute;
  top: 20px;
  left: 50%;

  display: none;
  width: 960px;
  margin-left: -480px;
  z-index: 10;
}

button.modal-map-close {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 12;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;

  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}


button.modal-map-close:hover,
button.modal-map-close:focus {
  opacity: 1;
}

button.modal-map-close:active {
  opacity: 0.3;
}

button.modal-map-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}


button.modal-map-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;

  width: 29px;
  height: 4px;

  background-color: #ffffff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.site-map {
  margin-bottom: 42px;
  padding: 0 60px;
}

.site-map h2 {
  margin: 0;
  margin-top: 36px;
}
