@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../fonts/opensanslight.woff2') format('woff2'),
    url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:
    local('Open Sans'),
    local('OpenSans'),
    url('../fonts/opensans.woff2') format('woff2'),
    url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/Gilroylight.woff2') format('woff2'),
    url('../fonts/Gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/Gilroyextrabold.woff2') format('woff2'),
    url('../fonts/Gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

input,
textarea {
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
}

a{
  color: #000000;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
}

.button,
.main-nav,
.header-nav,
.btn-modal-feedback,
.feedback-user-name,
.feedback-email,
.feedback-field {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0 36px 0 45px;
  line-height: 46px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.21em;
}

.button::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  z-index: -1;
}

.button:focus::before,
.button:hover::before {
  top: 0;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: transparent;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  margin-bottom: 30px;
  padding: 0 60px;
}

/* ШАПКА САЙТА */

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 40px;
  color: inherit;
  background-color: rgba(247,226,150,1);
  background-clip: content-box;
}

.page-header a {
  color: rgba(0, 0, 0, 1);
}

.page-header a:link,
.page-header a:visited {
  color: inherit;
}

.page-header a:focus,
.page-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header .row:first-of-type {
  margin-top: 34px;
}

.page-header .row:last-child {
  margin-bottom: 50px;
}

.logo.header-logo {
  position: absolute;
  display: block;
  top: -22px;
  left: 78px;
}

.page-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
}

.page-header .user-block {
  margin-left: auto;
  margin-right: 10px;
}

.user-login > a,
.user-profile > a {
  padding-left: 31px;
  background-color: inherit;
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
  letter-spacing: .38px;
}

.user-profile {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 166px;
}

.page-header .user-logout {
  padding-left: 17px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.3);
}

.user-logout a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-logout a:active {
  color: rgba(0, 0, 0, 0.2);
}

.shop-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 220px;
}

.shop-compare > a {
  padding-left: 28px;
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
  background-position: left 7px center;
}

.shop-basket > a {
  padding-left: 28px;
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.shop-basket {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 88px;
}

.user-login > a:active,
.user-profile > a:active,
.shop-compare > a:active,
.shop-basket > a:active {
  color: rgba(0, 0, 0, 1);
  opacity: 0.3;
}

.main-nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
}

.header-nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}

.header-nav > li {
  display: block;
  padding: 0 20px;
  text-transform: uppercase;
  letter-spacing: 3.5px
}

.header-nav > li:first-child {
  position: relative;
  flex: 0 0 50%;
  padding: 0;
}

.header-nav > li:nth-child(3) {
  flex-grow: 1;
}

.header-nav > li:nth-child(4n+4) {
  padding-right: 0;
}

.catalog-link + .catalog-nav {
  position: absolute;
  top: 20px;
  left: -60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 25px;
  padding-bottom: 34px;
  width: 1160px;
  min-height: 120px;
  color: #000000;
  letter-spacing: normal;
  background-color: rgba(247,226,150,1);
  z-index: 5;
  visibility: hidden;
}

.catalog-group ul {
  width: 200px;
  padding-left: 40px;
}

.catalog-group li {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
}

.catalog-group:nth-child(5n+1) ul {
  width: 260px;
  padding-left: 60px;
}

.catalog-link {
  position: relative;
  padding-right: 30px;
}

.catalog-link::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 2px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.catalog-link:hover + .catalog-nav,
.catalog-nav:hover {
  visibility: visible;
}

.search-item {
  display: flex;
  flex: 0 0 auto;
  height: 48px;
  max-width: 440px;
}

.search-item input {
  width: 355px;
  padding: 10px 20px 8px 39px;
  color: #000000;
  background-color: transparent;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 3px bottom 13px;
  border: none;
  border-bottom: 2px solid transparent;
}

.search-item input::-webkit-input-placeholder {
  letter-spacing: 0.37px;
  color: rgba(0, 0, 0, 0.3);
}

.search-item input:-ms-input-placeholder {
  letter-spacing: 0.37px;
  color: rgba(0, 0, 0, 0.3);
}

.search-item input::-ms-input-placeholder {
  letter-spacing: 0.37px;
  color: rgba(0, 0, 0, 0.3);
}

.search-item input::placeholder {
  letter-spacing: 0.37px;
  color: rgba(0, 0, 0, 0.3);
}

.search-item input:focus {
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-button {
  width: 85px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  border: 2px solid #000000;
  visibility: hidden;
  cursor: pointer;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  visibility: visible;
}

.search-item input:focus + .search-button {
  visibility: visible;
}

/* СЛАЙДЕР */

.home-slider {
  position: relative;
}

.home-slider::before {
  content: "";
  display: block;
  height: 113px;
  margin-bottom: -113px;
  background-color: rgba(247,226,150,1);
  background-clip: content-box;
}

.slides-list {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slide-controls {
  position: absolute;
  top: 329px;
  right: 81px;
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  z-index: 100;
}

.slide-control {
  position: relative;
  width: 13px;
  height: 13px;
  margin-right: 20px;
  background-image: url("../img/slider-button-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px;
}

.slide-control.active {
  background-image: url("../img/slider-button.svg");
}

.slide-item {
  display: flex;
  flex: 0 0 100%;
  padding-bottom: 60px;
  margin-bottom: 25px;
  z-index: -1;
}

.slide-item:not(.slide-current) {
  display: none;
}

.slide-image {
  flex: 0 0 50%;
  padding: 2px 20px 0 0;
  max-width: 580px;
}

.slide-image img {
  display: block;
  max-width: 560px;
  max-height: 500px;
  margin: 0 auto;
}

.slide-content {
  position: relative;
  display: flex;
  max-width: 580px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0 0 50%;
  padding: 80px 60px 10px 20px;
}

.slide-content span {
  margin-bottom: 20px;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  letter-spacing: 0.6px;
  z-index: 2;
}

.slide-content .slide-number {
  position: absolute;
  top: -12px;
  right: 46px;
  display: block;
  font-size: 179.2px;
  line-height: 179.2px;
  color: #ffffff;
  user-select: none;
  z-index: 1;
}

.slide-content::before {
  content: "";
  position: absolute;
  top: -2px;
  display: block;
  width: 100px;
  height: 7px;
  margin: 40px 0 34px 0;
  background-color: #ffffff;
}

.slide-content p {
  margin-top: 0;
  line-height: 30px;
  letter-spacing: 0.16px;
}

.slide-content .button {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 22px;
}

.slide-content table {
  display: flex;
  justify-content: flex-start;
  margin-top: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.slide-content td {
  padding-right: 77px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-family: "Gilroy", Arial, sans-serif;
}

.slide-content td:last-child {
  padding-right: 0;
}

.slide-content th {
  padding: 6px 0 0 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: inherit;
}

/* ПОПУЛЯРНЫЕ КТЕГОРИИ */

.popular {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories li {
  width: 160px;
  margin-bottom: 50px;
  margin-right: auto;
}

.categories li:nth-child(7n) {
  margin-right: 0;
}

.categories li:nth-child(n+7) {
  margin-right: 5.5px;
}

.categories li:last-child {
  margin-right: 0;
}

.categories .categories-items {
  position: relative;
  display: block;
  width: 160px;
  padding-top: 194px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}

.item-2-wrapper {
  display: block;
  margin-right: 60px;
}


.categories .categories-items:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 160px;
  height: 160px;
}

.categories .item-1::before {
  background-image: url("../img/popular-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.categories .item-2::before {
  background-image: url("../img/popular-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 96%;
}

.categories .item-3::before {
  background-image: url("../img/popular-3.svg");
  background-repeat: no-repeat;
  background-position: 55% 52%;
  ;
}

.categories .item-4::before {
  background-image: url("../img/popular-4.svg");
  background-repeat: no-repeat;
  background-position: 52% 53%;
}

.categories .item-5::before {
  background-image: url("../img/popular-5.svg");
  background-repeat: no-repeat;
  background-position: 53% 51%;
}

.categories .item-6::before {
  background-image: url("../img/popular-6.svg");
  background-repeat: no-repeat;
  background-position: 48% 54%;
}

.categories-items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.categories-items:hover::after,
.categories-items:focus::after {
  background-color: #f0c52e;
}

.categories-items:active::before {
  opacity: 0.3;
}

.categories-items:active {
  color: rgba(0, 0, 0, 0.3);
}

/* УСЛУГИ */

.services {
  min-width: 1200px;
  margin-bottom: 95px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, #ffffff 0px, #ffffff 100px, #e5e5e5 100px);
}

.services-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start
}

.services-list,
.services-description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 284px;
  min-height: 320px;
  padding-top: 80px;
  padding-bottom: 40px;
  border-right: 7px solid #000000;
  z-index: 1;
}

.services-list li {
  margin-bottom: 25px;
}

.services-list .button {
  width: 160px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.services-list .button::before {
  width: 160px;
}

.services-list .button:active,
.services-list .button.button-active {
  width: 100%;
  padding-right: 128px;
  color: #f7e184;
  background-color: #000000;
  transition: all 0.2s linear;
}

.services-description-item:not(.current) {
  display: none;
}

.services-description-item {
  position: relative;
  display: block;
  margin-left: 16px;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 75px;
  width: 650px
}

.services-description-item h3 {
  margin-bottom: 30px;
  letter-spacing: 1.1px;
}

.services-description-item p  {
  margin: 0;
  line-height: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.25px;
}

.services-delivery::after {
  content: "";
  position: absolute;
  top: 87px;
  right: -143px;
  width: 136px;
  height: 164px;
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-warranty::after {
  content: "";
  position: absolute;
  top: 63px;
  right: -168px;
  width: 175px;
  height: 200px;
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-credit::after {
  content: "";
  position: absolute;
  top: 63px;
  right: -160px;
  width: 175px;
  height: 200px;
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* БРЭНДЫ */

.brands {
  margin-bottom: 85px;
}

.brands-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brands-item {
  width: 260px;
  margin-right: auto;
  cursor: pointer;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.brands-item:nth-child(n+5) {
  margin-right: 39.5px;
}

.brands-item:last-child {
  margin-right: 0;
}

.brands-item .item-1 {
  margin: auto;
}

.brands-item .item-2 {
  margin-right: 38px;
}

.brands-item .item-3 {
  margin-right: 38px;
}

.brands-item .item-4 {
  margin-right: 3px;
}

.brands-item img {
  opacity: 0.2;
  filter: grayscale(1);
}

.brands-item img:hover {
  opacity: 1;
  filter: grayscale(0);
}

/* КОНТАКТЫ */

.two-column-wrapper {
  display: flex;
  margin-bottom: 78px;
  justify-content: space-between;
}

.about,
.contact {
  position: relative;
  padding-top: 53px;
  width: 560px;
}

.about > .button,
.contact > .button {
 width: 260px;
 padding: 0;
 text-align: center;
}

.about::before,
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  border-top: 7px solid #000000;
}

.about h2,
.contact h2 {
  position: relative;
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", Arial, sans-serif;
}

.about p,
.contact p {
  margin: 30px 0;
  line-height: 30px;
}

.about ul {
  margin: 66px 0 50px 2px;
  padding: 0;
  list-style: none;
}

.about ul > li {
  padding-left: 33px;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: "Gilroy", Arial, sans-serif;
  background-image: url("../img/icon-list.svg");
  background-repeat: no-repeat;
  background-position: 0 center;
}

.contact .map {
  margin-top: 8px;
  margin-bottom: 60px;
}

/* ПОДВАЛ САЙТА */

.user-block,
.shop-block,
.footer-nav-list,
.social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer {
  padding: 60px 0 65px;
  color: #ffffff;
  background-color: #464646;
}

.page-footer a {
  color: rgba(255, 255, 255, 1);
  opacity: 0.7;
}

.page-footer a:focus,
.page-footer a:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.page-footer .user-logout {
  padding-left: 17px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.3;
}

.page-footer .user-logout:focus,
.page-footer .user-logout:hover {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

.page-footer .user-logout:active {
  color: rgba(255, 255, 255, 1);
  opacity: 0.2;
}

.page-footer a:active {
  color: rgba(255, 255, 255, 1);
  opacity: 0.3;
}

.page-footer .row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.page-footer .row:first-child {
  justify-content: space-around;
  margin-bottom: 24px;
}

.page-footer .row:nth-child(2) {
  margin-bottom: 57px;
}

.page-footer .row:last-child {
  align-items: center;
}

.page-footer p {
  margin: 0;
  padding: 0;
}

.page-footer ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a.footer-logo {
  margin-right: auto;
  color: rgba(255, 198, 0, 1);
  opacity: 1;
}

a.footer-logo:focus,
a.footer-logo:hover {
  color: rgba(255, 198, 0, 1);
  opacity: 0.6;
}

a.footer-logo:active {
  color: rgba(255, 198, 0, 1);
  opacity: 0.3;
}

.footer-nav-list {
  display: flex;
  justify-content: space-between;
  padding-right: 36px;
  width: 465px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.21em;
  color: inherit;
  text-transform: uppercase;
}

.footer-nav-list a,
a[href^="tel:"],
a.htmlacademy-button {
  opacity: 1;
}

.footer-nav-list a:focus,
.footer-nav-list a:hover,
a[href^="tel:"]:focus,
a[href^="tel:"]:hover,
a.htmlacademy-button:focus,
a.htmlacademy-button:hover {
  opacity: 0.6;
}

.footer-nav-list a:active,
a[href^="tel:"]:active,
a.htmlacademy-button:active {
  opacity: 0.3;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  width: 195px;
}

.social-icons-item {
  position: relative;
  margin-right: 23px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.social-icons-item:hover {
  opacity: 0.6;
}
.social-icons-item:active {
  opacity: 0.1;
}

.facebook::before,
.instagram::before,
.twitter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center center;
}

.facebook::before {
  background-image: url("../img/facebook.svg");
}

.instagram::before {
  background-image: url("../img/instagram.svg");
}

.twitter::before {
  background-image: url("../img/twitter.svg");
}

.page-footer .user-block,
.page-footer .shop-block {
  height: 34px;
}

.page-footer .user-login {
  margin-left: auto;
  margin-right: 35px;
}

.user-login.yellow-icon > a,
.user-profile.yellow-icon > a {
  background-image: url("../img/yellow-user.svg");
}

.shop-compare.yellow-icon > a {
  background-image: url("../img/yellow-compare.svg");
}

.shop-basket.yellow-icon > a {
  background-image: url("../img/yellow-cart.svg");
}

.htmlacademy-button {
  position: relative;
  width: 28px;
  height: 40px;
}

.htmlacademy-button::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 27px;
  height: 35px;
}

.dec-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

/* КАТАЛОГ */

.page-title {
  padding: 0 80px;
}

.page-title > h2 {
  margin: 38px 0 23px 0;
  letter-spacing: .55px;
}

.breadcrumbs,
.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 46px;
  padding: 0;
}

.breadcrumbs li {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs a {
  padding: 6px 0;
  padding-right: 37px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.01em;
  cursor: pointer;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrumbs li:nth-child(1):after {
  content: "";
  position: absolute;
  top: 10px;
  right: 18px;
  width: 5px;
  height: 8px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:nth-child(2):after {
  content: "";
  position: absolute;
  top: 10px;
  right: 15px;
  width: 5px;
  height: 8px;
  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-columns {
  display: flex;
  background: linear-gradient(to bottom, #dadada 70px, #ececec 70px);
}

.filter h3,
.sorting h3 {
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filter h3 {
  margin: 23px 0;
  padding-left: 7px;
  border-bottom: 1px solid transparent;
}

.filter {
  display: flex;
  flex-grow: 1;
}


.filter .filter-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 272px;
}

.filter fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.filter .prices {
  margin-top: 80px;
  margin-bottom: 30px;
}

.filter .colors {
  margin-top: 60px;
  margin-bottom: 26px;
}

.filter .bluetoothes {
  position: relative;
  margin-top: 42px;
}

.filter legend {
  position: relative;
  padding-left: 5px;
  font-weight: 800;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.filter .price-state {
  margin-bottom: 30px;
}

.filter .color-state {
  margin-bottom: 19px;
}

.bluetooth-state-item:nth-of-type(1) {
  margin-top: 18px;
}

.bluetooth-state-radio + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.bluetooth-state-radio:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.bluetooth-state-radio:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter legend::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 5px;
  width: 202px;
  height: 2px;
  background-color: #000000;
}

fieldset p {
  margin: 0;
  padding: 0;
}

.filter span {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
}

.filter input[type="range"]:disabled,
.filter input[type="checkbox"]:disabled,
.filter input[type="radio"]:disabled {
  color: #a6a6a6;
}


.filter input[type="checkbox"],
.filter input[type="radio"] {
  display: none;
}

.filter input[type="range"] {
  position: relative;
}

.filter .price-state::after {
  content: "";
  position: absolute;
  top: 59px;
  left: 8px;
  z-index: 1;
  width: 195px;
  height: 2px;
  background-image: linear-gradient(to right, #91c92f 60%, #dbdbdb 60%);
}

.price-1 {
  position: absolute;
  top: 17px;
  left: 4px;
  width: 35px;
  height: 25px;
}

.price-2 {
  position: absolute;
  top: 17px;
  left: 69px;
  width: 35px;
  height: 25px;
}

.filter .price-1::before {
  content: "";
  position: absolute;
  top: -23px;
  left: -4px;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
  z-index: 1;
}

.filter .price-1:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -5px;
  width: 22px;
  height: 25px;
  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
  z-index: 2;
}

.filter .price-2::before {
  content: "";
  position: absolute;
  top: -23px;
  left: 17px;
  width: 20px;
  height: 23px;
  background-image: url("../img/filter-button.svg");
  cursor: pointer;
  z-index: 2;
}

.filter .price-2:active::before {
  content: "";
  position: absolute;
  top: -24px;
  left: 16px;
  width: 22px;
  height: 25px;
  background-image: url("../img/filter-button_big.svg");
  cursor: pointer;
  z-index: 2;
}

.filter .btn-more {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  margin-top: 31px;
  margin-left: 5px;
  padding: 8px 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter .btn-more::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.filter .btn-more:hover::after {
  top: 0;
  height: 40px;
  margin: 0;
  transition: all 0.2s linear;
}

.filter .btn-more:active {
  color: rgba(0, 0, 0, 0.3);
}

.filter label {
  position: relative;
  display: block;
  padding-left: 44px;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 27px;
  height: 24px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.sorting {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-bottom: 70px;
  padding: 5px 0;
  background-color: #ebebeb;
}

.sorting h3 {
  margin: 18px 54px 18px 76px;
}

.sorting-type {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
  margin: 0;
  padding: 0;
}

.sorting li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  cursor: pointer;
}

.sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting a:active,
.sorting .active {
  color: rgba(0, 0, 0, 1);
}

.sorting-items-price {
  margin-right: 28px;
}

.sorting-items-type {
  margin-right: 31px;
}

.sorting-items-popular {
  margin-right: 20px;
}

.sorting-type {
  margin-right: 100px;
}

.sorting-direction {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

.sorting-direction li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sorting-direction-items {
  position: relative;
}

.sorting-direction-items.up::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 30px;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.2;
}

.sorting-direction-items.down::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  width: 11px;
  height: 11px;
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.sorting-direction-items.down:hover::before,
.sorting-direction-items.down:focus::before,
.sorting-direction-items.up:hover::before,
.sorting-direction-items.up:focus::before {
  opacity: 0.4;
}

.sorting-direction-items.down:active::before,
.sorting-direction-items.up:active::before {
  opacity: 1;
}

.catalog-page {
  flex-grow: 1;
  width: 780px;
  margin-right: auto;
  background-color: #ffffff;
}

.main-catalog {
  display: flex;
  flex-wrap: wrap;
  width: 855px;
  margin-bottom: 37px;
  padding-left: 75px;
}

.catalog-goods {
  position: relative;
  width: 360px;
  margin-right: auto;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-goods:nth-of-type(1),
.catalog-goods:nth-of-type(2) {
  margin-bottom: 47px;
}

.catalog-goods:nth-of-type(2n) {
  margin-right: 20px;
}

.catalog-goods a {
  color: inherit;
  text-decoration: none;
}

.catalog-goods p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 25px;
  padding: 0;
}

.catalog-item {
  width: 260px;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: #000000;
  text-decoration: none;
}

.catalog-goods:nth-of-type(2) .catalog-item {
  width: 200px;
}

.catalog-goods.new::before{
  content: "NEW";
  position: absolute;
  top: 47px;
  right: 13px;
  width: 60px;
  height: 60px;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  font-family: "Gilroy", "Helvetica", sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.catalog-goods.new::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 28px;
  width: 57px;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-goods b {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.catalog-goods .to-basket {
  content: "";
  position: absolute;
  top: 173px;
  left: 80px;
  display: inline-block;
  width: 180px;
  padding: 8px 10px;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  vertical-align: baseline;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}


.to-compared {
  content: "";
  position: absolute;
  top: 220px;
  left: 110px;
  font-weight: normal;
  font-size: 13px;
  line-height: 36px;
  font-family: Arial, sans-serif;
  opacity: 0;
}

.catalog-goods:hover img {
  cursor: pointer;
  filter: opacity(0.7);
}

.catalog-goods:hover .to-basket,
.catalog-goods:focus .to-basket {
  opacity: 1;
}

.catalog-goods:hover .to-compared,
.catalog-goods:focus .to-compared {
  opacity: 0.5;
}

.catalog-goods .to-compared:hover {
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

.catalog-goods .to-basket:active,
.catalog-goods .to-compared:active {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-bottom: 77px;
  margin-left: 75px;
  padding: 0;
  background-color: #ebebeb;
}

.pagination-list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list li:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
}

.pagination-list a {
  display: block;
  font-weight: 800;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.pagination-item-back {
  padding: 22px 27px 22px 28px;
}

.pagination-item {
  padding: 22px 13px 22px 13px;
}

.pagination-item:nth-of-type(1) {
  margin-right: 4px;
  padding: 22px 9px 22px 18px;
}

.pagination-item:nth-of-type(2) {
  margin-right: 2px;
}

.pagination-item-next {
  padding: 22px 29px 22px 31px;
}

.pagination-item-back:hover,
.pagination-item-next:hover {
  background-color: #d9d9d9;
}

.pagination-item-back:active,
.pagination-item-next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-item-back,
.pagination-item-next {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current {
  color: rgba(0, 0, 0, 1);
}

.pagination-item-disabled {
  opacity: 0.3;
}

.pagination-item:hover {
  opacity: 0.6;
}

.pagination-item:active {
  opacity: 1;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.modal-feedback {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 10;
  display: none;
  justify-content: center;
  margin-left: -480px;
  padding: 77px 100px 78px;
  background-color: #ffffff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.modal-feedback-show {
  display: flex;
  animation-name: bounce;
  animation-duration: 0.5s;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
}

.feedback-user-name,
.feedback-email,
.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  width: 360px;
}

.feedback-user-name {
  margin-right: 40px;
  padding: 8px 0;
}

.feedback-email {
  padding: 8px 0;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  margin-bottom: 25px;
  padding: 14px 0;
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);
  background-color: #e5e5e5;
  border: 0;
  opacity: 0.5;
}

.feedback-form input[type="text"] {
  margin-right: 40px;
}

.feedback-field,
textarea {
  width: 760px;
}

.feedback-field {
  padding: 11px 0;
  padding-left: 1px;
}

textarea {
  height: 130px;
  padding: 10px 0;
  padding-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: rgba(70, 70, 70, 0.4);
  background-color: #e5e5e5;
  opacity: 0.5;
  resize: none;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  background-color: #e5e5e5;
  opacity: 0.8;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  color: #000000;
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px rgba(240, 197, 46, 0.5);
}

.feedback-form input[type="text"]:invalid,
.feedback-form input[type="email"]:invalid,
.feedback-form textarea:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.btn-modal-feedback {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  margin-top: 41px;
  padding: 8px 43px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-modal-feedback::before {
  content: "Отправить";
  position: absolute;
  top: 8px;
  left: 33px;
  z-index: 15;
  color: #000000;
}

.btn-modal-feedback::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 200px;
  height: 8px;
  background-color: #f0c52e;
}

.btn-modal-feedback:hover::after {
  top: 0;
  height: 40px;
  margin: 0;
}

.btn-modal-feedback:active::before {
  color: rgba(0, 0, 0, 0.3);
}

button.modal-feedback-close {
  position: absolute;
  top: 22px;
  right: 20px;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}


button.modal-feedback-close:hover,
button.modal-feedback-close:focus {
  opacity: 1;
}

button.modal-feedback-close:active {
  opacity: 0.3;
}

button.modal-feedback-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;
  width: 29px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

button.modal-feedback-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;
  width: 29px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.feedback-form label {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.modal-map {
  position: fixed;
  top: 50px;
  left: 50%;
  display: none;
  width: 960px;
  margin-left: -480px;
  z-index: 10;
}

.map-image img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 10;
}

.modal-map .iframe {
  position: relative;
  z-index: 20;
  border: none;
}

.modal-map-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.5s;
}

button.modal-map-close {
  position: absolute;
  top: 22px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  z-index: 25;
}


button.modal-map-close:hover,
button.modal-map-close:focus {
  opacity: 1;
}

button.modal-map-close:active {
  opacity: 0.3;
}

button.modal-map-close::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;
  width: 29px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(45deg);
}


button.modal-map-close::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 13px;
  z-index: 12;
  width: 29px;
  height: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(20px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

.site-map {
  margin-bottom: 42px;
  padding: 0 60px;
}

.site-map h2 {
  margin: 0;
  margin-top: 36px;
}
